<div class="container-detail-sample">
    <div class="container-detail-sample__header">
        <div class="container-detail-sample__header__item">
            <p class="container-detail-sample__header__item__key">ID: </p>
            <p class="container-detail-sample__header__item__value">3fa85f64-5717-4562-b3fc-2c963f66afa6</p>
        </div>
        <div class="container-detail-sample__header__item">
            <p class="container-detail-sample__header__item__key">Nome: </p>
            <p class="container-detail-sample__header__item__value">Sample X</p>
        </div>
        <div class="container-detail-sample__header__item">
            <p class="container-detail-sample__header__item__key">Descrizione: </p>
            <p class="container-detail-sample__header__item__value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quas a ab. Voluptatum saepe exercitationem ab delectus libero dolor culpa! Labore eius perspiciatis perferendis quam cumque commodi dolor non quos.</p>
        </div>
    </div>
</div>
<p routerLink="/samples">go back</p>
