<div class="container-detail-sample">
    <ng-container *ngIf="sampleDetail">
        <div class="container-detail-sample__header">
            <div class="container-detail-sample__header__item">
                <p class="container-detail-sample__header__item__key">ID: </p>
                <p class="container-detail-sample__header__item__value">{{ sampleDetail.id }}</p>
            </div>
            <div class="container-detail-sample__header__item">
                <p class="container-detail-sample__header__item__key">Nome: </p>
                <p class="container-detail-sample__header__item__value">{{ sampleDetail.name }}</p>
            </div>
            <div class="container-detail-sample__header__item">
                <p class="container-detail-sample__header__item__key">Descrizione: </p>
                <p class="container-detail-sample__header__item__value">{{ sampleDetail.description }}</p>
            </div>
        </div>
    </ng-container>
</div>
<p routerLink="/samples">go back</p>
